#hover-button {
    -fx-background-color: transparent;
}

#hover-button:hover {
    -fx-background-color: radial-gradient(center 50% 50%, radius 55%, #A6A6A6, transparent);
}

#hover-button:pressed {
    -fx-background-color: radial-gradient(center 50% 50%, radius 55%, #787878, transparent);
}
